PyQt5==5.10.1
Click==7.0
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
pkg-resources==0.0.0
PyQt5==5.10.1
sip==4.19.8
Werkzeug==0.14.1
aniso8601==4.0.1
Click==7.0
Flask==1.0.2
Flask-RESTful==0.3.6
greenlet==0.4.15
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
msgpack==0.5.6
neovim==0.2.6
pkg-resources==0.0.0
PyQt5==5.10.1
pytz==2018.7
sip==4.19.8
six==1.11.0
Werkzeug==0.14.1
