aniso8601==4.0.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
greenlet==0.4.15
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
msgpack==0.5.6
py==1.4.22
PyBluez==0.22
pygame==1.9.6
pymongo==3.7.2
pyobjc-core==5.2
pyobjc-framework-Cocoa==5.2
PyQt5==5.10.1
pytest==2.6.0
pytz==2018.7
requests==2.20.0
sip==4.19.8
six==1.11.0
uno==0.3.3
urllib3==1.24.1
Werkzeug==0.14.1
